:root {
  ---primary_color: rgb(133, 5, 31);
  ---primary_color1: #f8f8f8;
  ---primary_gray: #cccaca;
  ---inset: #83031c;
  ---insen_green: #53b053;
}

main input{
  display: none;
}
.logo img {
  width: fit-content;
  height: 55px;
  margin-top: 1.5rem;
}


.scrollup {
  background-color: var(---insen_green);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10%;
  right: 5%;
  border: 2px solid var(---inset);
  outline: none;
  display: none;
  cursor: pointer;
  color: var(---primary_color1);
}

.scrollup:hover{
  background-color: var(---inset);
  color: var(---insen_green);
  border: 2px solid var(---insen_green);
}

.add1{
  display: flex;
}

.hi2 {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;

}

main input {
  margin: 1.5rem 0px 0px 2rem;
  text-align: center;
  color: var(---primary_color);
  border: 2px solid var(---primary_color);
  outline: none;

}

#close1 {
  display: none;

}

.search_icon {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(---primary_color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}



html {

  font-family: Poppins, Helvetica, sans-serif;
}

/*information div that conatain phon number and icons*/
.main1 {
  padding: 2px 2px;
  margin-top: 0.3px;
  width: 100%;
  height: 30px;
  background-color: var(---inset);
  border-bottom: 5px solid var(---insen_green);
  display: inline-flex;
  justify-content: space-between;

}

/*inside main1 div conatin the contact i*/
.contact i {
  padding: 0.5px;
  color: white;
  margin-left: 1rem;
  font-size: x-small;
  font-family: Poppins, Helvetica, sans-serif;

}

.social1 i {
  color: white;
  font-size: x-small;
  margin-right: 1rem;
  padding: 0.5px;
}

.pprt a {
  color: var(---inset);
}

.pprt {
  text-transform: uppercase;
  color: var(---inset);
  font-weight: bold;
  margin: 2rem 0rem 0rem 2rem;
}


.container {

  display: flex;
  justify-content: center;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid var(---insen_green);
}

.open_btn {
  color: var(---inset);
  margin: 0rem 2rem 0rem 0rem;
  cursor: pointer;
}

.clse i {
  color: var(---inset);
  font-size: large;
  float: right;
  cursor: pointer;
}

.products {
  display: none;

}

.products1 {
  display: none;

}

.services {

  display: none;
}

.pprt:hover .services li a {
  color: white;
  padding: 1rem;
  text-transform: capitalize;

}

.sub_1 img {

  margin-left: .6rem;
}

.pprt:hover .services li {

  margin-top: 1rem;

}

.pprt:hover .services {
  display: block;
  position: absolute;
  background-color: var(---inset);
  margin-top: -.2rem;
  width: 150px;
  height: 90px;
  margin-left: 5rem;

  transition: ease in out 7s;
  border-radius: 4px;
}

.bread:hover .products1 {
  display: block;
  position: absolute;
  background-color: var(---inset);
  margin-top: 1.6rem;
  width: 150px;
  height: 100px;
  border-radius: 4px;



}



.pprt:hover .products ul li {
  margin: 1.5rem 0rem 0px 2.3rem;
}

.pprt:hover .products ul li a {
  color: white;
  text-transform: capitalize;



}

.sub_1 {
  display: block;
  position: absolute;
  bottom: 50%;
  width: inherit;

}

#xc {

  display: none;
}

.sub_1 img {


  width: 95%;
  height: 300px;
  z-index: 3;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 1px 1px 2px black;
  border: none;
  outline: none;

}

.pprt:hover .products {
  width: 150px;
  height: 150px;
  display: block;
  position: absolute;
  margin-left: 6rem;
  background-color: var(---inset);
  top: 15%;
  border-radius: 4px;
}

.hero {
  width: 100%;
  height: 700px;
  background-image: url(stan.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.get_started span {
  color: var(---inset);
}



.get_started {
  width: 50%;
  position: absolute;
  left: 4%;
  top: 0;
}

.get_started h1 {
  margin-top: 1rem;
  color: var(---insen_green);
  font-size: medium;
}

.get_started h1 a {

  background-color: var(---inset);
  padding: .4rem;
  color: var(---primary_color1);
  border-radius: 40px;
  box-shadow: 1px 1px 2px black, -1px -1px 2px black;

}







.im {
  margin-left: 8rem;
  border-radius: 10px 60px 10px 60px;
  width: 50%;
  height: 400px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dalbu {
  gap: unset;
  background-color: var(---inset);
  display: grid;
  justify-content: space-evenly;
  margin-top: 20px;
  outline: none;
  border: none;
}

#myAnimation {
  display: none;
}

.df {
  position: absolute;
  bottom: 0;
  left: 0;
}



.im img {
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 2px black, -1px -1px 2px black;
}

.writup p {

  margin: 20px 50px 20px 50px;
  text-align: right;
  line-height: 35px;
  text-align: justify;
}


.writup h1 {
  text-align: center;
  margin-top: 5rem;
  color: var(---primary_color);
  text-transform: uppercase;
}

.head_yu a {
  color: var(---primary_color);
  text-align: right;
  margin-bottom: 20px;
}



.gb {
  display: grid;
  margin-bottom: 10rem;
  background-color: var(---primary_color1);
  max-width: auto;
  max-height: auto;
  width: 100%;
  height: fit-content;


  grid-template-columns: repeat(2, 1fr);


}



.gb4 img {

  margin: 2rem 0rem 2rem 2rem;

  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 1px 2px black, -1px -1px 2px black;
  border: none;
  outline: none;
}


.gb1 img {
  margin: 2rem 0rem 2rem 2rem;

  box-shadow: 1px 1px 2px black, -1px -1px 2px black;
  border: none;
  outline: none;
  border-radius: 50%;
  object-fit: cover;


}



.gb2 img {

  border-radius: 50%;
  box-shadow: 1px 1px 2px black, -1px -1px 2px black;
  border: none;
  outline: none;
  margin: 2rem 0rem 2rem 2rem;
  object-fit: cover;

}

.gb3 img {

  border-radius: 50%;
  box-shadow: 1px 1px 2px black, -1px -1px 2px black;
  border: none;
  outline: none;
  margin: 2rem 0rem 2rem 2rem;
  object-fit: cover;


}


.social {
  margin: 25rem 0 2rem 10rem;
}

.social a {
  margin: 0 1.5rem 0 0;
  color: var(---primary_color);

}


.me i {
  color: var(---primary_color);


}

.menu_btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  border-left: 5px solid var(---insen_green);
  background-color: var(---primary_color1);
  height: 100vh;
  padding: 1em;
  display: none;
}


.primary_nav i {
  color: var(---primary_color);
  float: right;
}

.subcrib {
  background-color: var(---primary_color);
  margin-top: 2rem;
  width: 100%;
  height: 400px;
  position: relative;
  z-index: -2;
}

.jw p {
  padding: 50px 10px 20px 10px;
  background-color: var(---primary_color1);
  text-align: center;
  word-spacing: 1px;
  line-height: 1.5rem;
  border-radius: 30px;
  color: var(---primary_color);
  border: 2px solid var(---insen_green);
}

.jw {

  width: 100%;
  bottom: -75%;
  border-radius: 10px;
  position: absolute;
  z-index: -1;


}


.foota {
  background-color: var(---primary_color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}


.foota>div {

  margin: 30px auto 20px auto;
  display: block;

}

.foota>div>h1 {

  color: var(---insen_green);
  text-align: center;
  text-transform: uppercase;
  font-size: large;

}

.foota>div>p>a {
  text-transform: capitalize;
  font-size: small;
  color: var(---primary_color1);

}


.dw img {
  margin-top: 10px;
  margin-left: 30px;

}



.foota>div>p {
  margin-top: 10px;
  text-align: center;
  color: var(---primary_color1);
}


@media only screen and (min-width: 1080px) {

  #myAnimation {
    display: block;
    text-align: center;

  }

  .contact i {
    color: white;
    margin-left: 1rem;
    font-size: medium;
    font-family: Poppins, Helvetica, sans-serif;
  }

  .social1 i {
    color: white;
    font-size: large;
  }

  .get_started span {
    color: var(---primary_color);
  }


  .hi2 {
    display: flex;
    background-color: var(---primary_color1);
    display: flex;
    width: 250px;
    height: 300px;
    position: absolute;
    left: 10%;
    box-shadow: 3px 3px 5px black, -3px -3px 5px black;

  }


  .get_started {
    width: 50%;
    position: absolute;
    left: 7%;
    top: 20%;
  }

  .get_started h1 {
    font-size: xx-large;
    margin-top: 2rem;
    color: var(---insen_green);
  }

  .get_started h1 a {
    margin-left: 5rem;
    background-color: var(---primary_color);
    padding: 1rem;
    border: 2px solid var(---insen_green);
    color: var(---primary_color1);
    border-radius: 40px;
    box-shadow: 1px 1px 2px black, inset 1px 1px 2px black;
    cursor: pointer;
  }


  /* Slideshow container */
  .slideshow-container {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: auto;
  }

 

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */


  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  .products {
    display: none;

  }

  .products1 {
    display: none;
  }

  .bread:hover .products1 {
    display: block;
    position: absolute;
    background-color: var(---inset);
    border-radius: unset;
    text-transform: capitalize;
    z-index: 999;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    margin-left: 6.5rem;
    margin-top: -2rem;
    transition: ease-out 10s;

  }

  .ddy {

    display: flex;
  }

  .hero {
    background-position:top center ;
    width: 100%;
    height: 800px; ;
    background-image: url(stan.jpg);
    position: relative;
    z-index: -1;
    
  }

  .pprt:hover .products {
    text-transform: capitalize;
    width: 140px;
    display: block;
    position: absolute;
     top: 15%;
     left: 39%;
    background-color: var(---inset);
    box-shadow: 1px 1px 5px black,-1px -1px 2px black;
    transition: ease-in-out 8s;
    z-index: 99999999999;
    border-radius: 4px;
  }

  .pprt:hover .services {
    text-transform: capitalize;
    display: block;
    position: absolute;
    background-color: var(---primary_color);
    top: 15%;
    left: 50%;
    width: 140px;
    height: 90px;
    box-shadow: 1px 1px 2px black,-1px -1px 2px black;
    transition: ease in out 7s;
    border-radius: 4px;
  }

  .pprt:hover .products ul {
    display: block;

  }

  .pprt:hover .services ul {
    display: block;
    margin: unset;
  }

  .pprt:hover .services ul li {
    padding-top: -1rem;
  }


  .pprt:hover .products ul {
    margin-top: 0;
  }


  .pprt:hover .services ul li a {
    color: white;

  }

  .pprt:hover .products ul li a {
    color: white;
  }

  main input {
    display: flex;
    height: 30px;
    width: 220px;
    outline: none;
    border: none;
    text-align: center;
    margin: 0.35rem 1rem 0.2rem 0.5rem;
  }

  .search_icon {
    color: var(---primary_color);
    margin-bottom: 1.6rem;
    margin-left:0.5rem;
    cursor: pointer;
    display: flex;
  }

  

  #close1 {
    display: flex;
    color: var(---primary_color1);
    cursor: pointer;
  }

  main {

    align-items: center;
    justify-content: center;
    width: 300px;
    background-color: var(---primary_color);
    height: 40px;
    position: absolute;
    right: 3%;
    top: 30%;
    display: none;


  }


  .im {
    margin-left: unset;
    width: 30%;
    height: 350px;
    position: relative;
    margin: 0.5rem;
  }


  .im img {
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 2px black, inset 1px 1px 2px black;
  }



  .loop {
    margin-bottom: 3.5rem;
  }


  .bll {
    display: unset;
  }





  nav ul {
    display: flex;
    margin-top: 2rem;
  }



  nav {

    display: flex;
    width: fit-content;
    height: inherit;
    background-color: unset;
    align-items: center;
    justify-content: center;
    margin-top: unset;
    border: none;
    padding: unset;
    right: unset;
    top: unset;
    z-index: 0;
    position: unset;
    margin-right: 2rem;
  }

  #xc {
    display: flex;
  }

  .pprt {
    text-transform: uppercase;
    font-weight: bold;
    border-right: 3px double var(---insen_green);
    padding-right: 0.2rem;
  }

  .dalbu {
    width: fit-content;
    background-color: var(---primary_color1);
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    margin-top: 20px;
    outline: none;
    border: none;
  }

  .foota {
    background-color: var(---primary_color);
    display: grid;
    grid-template-columns: repeat(5, 1fr);

  }


  .foota>div {

    margin: 30px auto 20px auto;
    display: block;

  }

  .foota>div>h1 {

    color: var(---insen_green);
    text-align: center;
    text-transform: uppercase;
    font-size: large;

  }

  .foota>div>p>a {
    text-transform: capitalize;
    font-size: small;
    color: var(---primary_color1);

  }



  .dw img {
    margin-top: 10px;
    margin-left: 30px;

  }



  .foota>div>p {
    margin-top: 10px;
    text-align: center;
    color: var(---primary_color1);

  }

  .logo img {
    width: fit-content;
    height: 55px;
    margin-top: 1.5rem;
  }





  .cool li a i {
    font-size: small;
  }

  .gb {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
    position: relative;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
  }

  .gb4 img {
    margin-left: 24rem;
    border: unset;
    border-radius: unset;
    width: 250px;
    height: 300px;
    max-width: 100%;
    object-fit: cover;
  }

  .gb1 img {
    border: unset;
    border-radius: unset;
    margin-left: 24rem;
    object-fit: cover;
    width: 250px;
    height: 300px;
    max-width: 100%;

  }

  .gb2 img {
    border: unset;
    border-radius: unset;
    width: 250px;
    height: 300px;
    max-width: 100%;
    object-fit: cover;
    margin-left: 24rem;
  }

  .gb3 img {
    margin-left: 24rem;
    border: unset;
    border-radius: unset;
    object-fit: cover;
    width: 250px;
    height: 300px;
    max-width: 100%
  }

  .gb1,
  .gb2,
  .gb3,
  .gb4 {
    position: relative;
    display: flex;
    background-color: var(---primary_color);
    justify-content: center;
    align-items: center;
    width: 900px;
    border-radius: 10px;
    outline: none;
    border: 3px solid var(---insen_green);
    max-width: 100%;
    height: 400px;
  }

  .social {
    margin: 15rem 0 5rem 73rem;
  }

  .open_btn,
  .clse {
    display: none;
  }

  .subcrib {

    background-color: var(---primary_color);
    margin-top: 2rem;
    width: 100%;
    height: 400px;
    display: flex;
  }

  .jw p {

    margin-top: 3rem;
    color: var(---primary_color);
    text-align: center;
    background-color: var(---primary_color1);
    padding: 5rem;
    box-shadow: 1px 1px 1px black;
  }

  .sub_1 {
    display: flex;
    justify-content: space-around;
  }

  .sub_1 img {
    width: 40%;

    border: 2px solid var(---insen_green);
    outline: none;
    object-fit: cover;
  }

  .jw {
    width: 95%;
    height: fit-content;
    margin: 7rem 3rem 3rem 2.5rem;
    float: right;
    margin-top: 45rem;
    bottom: -150px;
  }

  .scrollup {
    background-color: var(---insen_green);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 40%;
    right: 2%;
    border: 2px solid var(---inset);
    outline: none;
    display: none;
    cursor: pointer;
    color: var(---primary_color1);
  }

  .scrollup:hover{
    background-color: var(---inset);
    color: var(---insen_green);
    border: 2px solid var(---insen_green);
  }

  .add1{
    display: flex;
  }


}